body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #2a2a2a;
    height: 60px; 
}

.main-container {
    display: flex;
    flex-direction: row;
    
}

.content-area {
    background-color: #ffffff; 
    padding: 25px; 
    flex: 4;

}

.table-block {
    background-color: #e7e7e7; 
    height: fit-content;
    border-radius: 10px; 
    padding: 15px;
    min-height: 500px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.total-count {
    font-size: 18px;
    font-weight: bold;
}

.add-btn-text {
    margin-left: 10px;
    font-size: medium;
}

.add-btn {
    background-color: #32a852;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-btn:hover {
    background-color: #038a27;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
}

table th {
    padding: 15px;
    text-align: center;
    border: 1px solid #e7e7e7;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

table td {
    padding: 12px 10px;
    text-align: center;
    border: 1px solid #e7e7e7;
}

.action {
    padding: 0px;
}

.status.active {
    color: #32a852;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #32a85275;
}

.status.inactive {
    color: #ff4d4d;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #ff4d4d75;
}

.status.pending {
    color: #E9992F;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #E9992F75;
}

.action-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.action-btn.edit {
    color: #E9992F;
    margin: 0 5px;
}

.action-btn.view {
    color: #0045FF;
}

.action-btn.deactivate {
    color: #ff0000;
}

.action-btn.activate {
    color: #52CA20;
}

.footer {
    background-color: #2a2a2a;
    height: 60px;
    z-index: 100;
}
