* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.content-area{
    display: flex;
    flex-direction: column;
}

.form-container {
    align-items: left;
    width: 100%;
    margin: 20px auto ;
    background-color: #ffffff;
    margin-top: 20px;

   
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date{
 text-align: center;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    width:100%;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.arrow {
    font-size: 18px;
    margin-right: 10px;
}

input[type="text"],
input[type="file"],
textarea {
    font-family: Arial, sans-serif;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select {
    font-family: Arial, sans-serif;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
    border-color: #32a852;
    outline: none;
}

textarea {
    height: 100px;
    resize: none;
}

span.form-invalid {
    color: red;
    font-size: 0.9rem;
    margin-left: 150px;
}

.submit-btn {
    background-color: #299b63;
    color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    min-width: 150px;
    height: 50px;
    font-size: 1.2em;
}

.submit-btn:hover {
    background-color: #137d4a;
}

input[readonly] {
    background-color: #e9ecef;
}

input[type="text"]:focus,
input[type="file"]:focus,
textarea:focus {
    border-color: #299b63; 
    border-width: 0.15rem;
    outline: none;
}