* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.form-container {
    align-items: left;
    width: 100%;
    margin: 10px auto ;
    background-color: #ffffff;
   margin-top: 10px;
   
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.date{
 text-align: center;


}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.arrow {
    font-size: 18px;
    margin-right: 10px;
}

input[type="text"],
input[type="file"],
textarea {
    font-family: Arial, sans-serif;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none;
}

.submit-btn {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #218838;
}

input[readonly] {
    background-color: #e9ecef;
}