body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.content-area {
    padding: 50px;
}

.report-header {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.report-header p{
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #000;
}

p {
    color: #888;
}

.download-btn {
    background-color: #299b63;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.download-btn:hover {
    background-color: #137d4a;
}

.download-btn .material-symbols-outlined {
    margin-right: 5px;
}

.report-date {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000;
}

h2 {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

.job-detail-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 25px;
    margin-top: 20px;
    margin-bottom: -20px;
}

.applicant-demographics {
    margin-bottom: 30px;
    padding-top: 20px;
}

.applicant-demographics h2{
    margin-bottom: 20px;
}

.demographic-grid {
    display: flex !important; 
    gap: 30px;
}

.demographic-card {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    border: 2px solid;
    border-color: #32a852;
    border-radius: 8px;
}

.demographic-card p{
    color: #000;
    padding: 5px;
    display: flex;
}

.card {
    flex: 1 1 48%;
    background-color: #fff;
    max-width: 50%;
    padding: 15px;
    border: 2px solid;
    border-color: #32a852;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#card{
    max-width: 48.5%;
}

.demographic-card canvas {
    height: 200px; 
}