/* CSS library */

/* components */
@import url("components/adminSidePanel.css");
@import url("components/adminTopPanel.css");
@import url("components/pagination.css");

/* pages */

@import url("pages/student/contact_sp.css");
@import url("pages/student/contact_admin.css");
@import url("pages/service_provider/contact_admin.css");
@import url("pages/student/trendyCompany.css");

.content-area {
    margin-left: 250px; /* Make room for the sidebar */
    padding: 40px;
    width: calc(100% - 220px); /* Ensure content takes full width minus sidebar */
    min-height: calc(100vh - 80px); /* Ensures content area takes the available vertical space */
    box-sizing: border-box; /* Prevents overflowing */
    margin-top: 80px;
}