
.dashboard-card i {
    font-size: 1.8rem;
    margin-bottom: 12px;
    display: block;
}


.icon-blue { color: #4285F4; }
.icon-orange { color: #FF7043; }
.icon-purple { color: #9C27B0; }
.icon-yellow { color: #FFB74D; }
.icon-red { color: #E53935; }
.icon-green { color: #4CAF50; }
.icon-teal { color: #26A69A; }
.icon-indigo { color: #5C6BC0; }
.icon-pink { color: #EC407A; }

.dashboard-card {
    height: 200px; 
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.dashboard-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 30px auto;
}


.dashboard-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 100%;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}


.dashboard-card h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.dashboard-card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.dashboard-card h1 {
    font-size: 1.5rem;
    color: #299b63;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    
}


@media (max-width: 992px) {
    .dashboard-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .dashboard-container {
        grid-template-columns: repeat(1, 1fr);
    }
}