


@import url("components/adminSidePanel.css");
@import url("components/adminTopPanel.css");
@import url("components/studentSidePanel.css");
@import url("components/pagination.css");
@import url("components/tableSearchBar.css");


@import url("pages/admin/students_mng.css");
@import url("pages/service_provider/contact_admin.css");
@import url("pages/service_provider/jobs_table.css");
@import url("pages/admin/add_member.css");


.content-area {
    margin-left: 0!important;
    padding: 40px !important;
    width: calc(100%) !important;
    min-height: calc(100vh - 150px) !important;
    box-sizing: border-box !important;
    margin-top: 80px !important;
}

.main-container {
    min-height: calc(100vh - 150px) !important;
}

.main-container-without-side {
    min-height: calc(100vh - 150px) !important;
    padding: 40px !important;
    margin-top: 80px !important;
    box-sizing: border-box;
}