.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 15px;
}

.page-btn {
    padding: 10px 16px;
    color: #000;
    border: none;
    background-color: #e7e7e7;
    cursor: pointer;
}

.page-btn.active {
    background-color: #32a852;
    color: white;
}

.page-btn:hover:not(.active) {
    background-color: #f5f5f5;
}