.pagination {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 15px;
}

.limit-container {
    display: flex;
    align-items: center;
    gap: 8px; 
    padding-left: 10px; 
}

.rows-text {
    font-weight: 500;
    color: #000;
}

.limit-select {
    padding: 10px 16px;
    color: #000;
    border: 2px solid #ddd;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-weight: 500;
    border-radius: 10px;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 32px;
}

.limit-select:focus {
    outline: none;
    border-color: #32a852;
}

.limit-select:hover {
    background-color: #f0f0f0;
}

.pagination-buttons {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.page-btn {
    padding: 10px 16px;
    color: #000;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-weight: 500;
}

.page-btn.active {
    background-color: #32a852; 
    color: white;
    border-radius: 10px; 
    font-weight: bold; 
    padding: 10px 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page-btn:hover:not(.active):not(:disabled) {
    color: #000;
    font-weight: bold;
    text-shadow: 0 0 3px #e7e7e7;
}

.page-btn:disabled {
    color: #aaa;
    cursor: not-allowed; 
    background-color: transparent;
}