.search-filter-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.search-sort-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    position: relative;
    padding: 0px;
    height: auto;
}

.search-bar-container {
    margin: 0;
    flex: 1;
}

.search {
    flex-grow: 1;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    outline: none;
}

.material-symbols-outlined.icon {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: gray;
}

.search:focus {
    border-color: #32a852;
}

.apply-filter-button, .clear-filter-button {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    white-space: nowrap;
    margin: 0 5px;
}

.apply-filter-button {
    background-color: #32a852;
    color: white;
}

.clear-filter-button {
    background-color: #d9534f;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.clear-icon {
    position: absolute;
    right: 256px;
    font-size: 26px;
    color: gray;
    cursor: pointer;
    display: none;
}

.clear-icon:hover {
    color: black;
}

.apply-filter-button:hover {
    background-color: #289043;
}

.clear-filter-button:hover {
    background-color: #c9302c;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.search-button, .clear-button, .filters-button {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    white-space: nowrap;
}

.search-button {
    background-color: #299b63;
    color: #fff;
}

.clear-button {
    background-color: #d9534f;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.filters-button {
    background-color: #007bff;
    color: white;
    margin: 0;
}


.search-button:hover {
    background-color: #137d4a;
}

.clear-button:hover {
    background-color: #c9302c;
}

.filters-button:hover {
    background-color: #0056b3;
}


.filter-row {
    display: none;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
   
   
   
   
}

.filter-row.visible {
    display: flex;
}

.filter-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-container {
    width: 100%;
}

.filter {
    font-size: 14px;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    flex-grow: 1;
    max-width: 180px;
    outline: none;
}

.filter:focus {
    border-color: #32a852;
}

.salary-input {
    font-size: 14px;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    flex-grow: 1;
    max-width: 180px;
}

.salary-filter {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 10px;
   
}

.salary-label {
   
    white-space: nowrap;
}

.salary-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.salary-values {
    font-size: 15px;
    font-weight: bold;
}

.salary-frequency {
    padding: 5px;
    font-size: 14px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
    outline: none;
}

.salary-frequency:focus {
    border-color: #32a852;
}

.range-slider {
    position: relative;
    width: 100%;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
}

.range-slider input[type="range"] {
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    pointer-events: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    transition: background 0.3s;
}

.range-slider input[type="range"]::-webkit-slider-thumb:hover {
    background: #0056b3;
}


@media (max-width: 768px) {
    .search-sort-row {
        flex-direction: column;
        align-items: stretch;
    }

    .search, .column-select, .search-button, .clear-button, .filters-button {
        width: 100%;
        margin-bottom: 8px;
    }

    .filter-row {
        flex-direction: column;
    }

    .filter, .salary-input {
        max-width: 100%;
    }
}
