.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 101;
    display: none;
    
}

.popup .content{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 100vh;
    z-index: 102;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.popup.active .overlay{
    display:flex ;
    backdrop-filter: blur(6px);
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.notification-message h2 {
    color: #299b63;
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-message h2 .material-icons {
    font-size: 30px;
    margin-right: 8px;
    color: #299b63;
}

.notification-message p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-message p .material-icons {
    font-size: 20px;
    margin-left: 8px;
    color: #299b63;
}

/* Button to Go to Home Page */
.go-home-btn {
    background-color: #299b63;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto 0; 
    text-align: center;
    max-width: 200px;
}

.go-home-btn:hover {
    background-color: #137d4a;
}
