.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 101;
    display: none;
    
}

.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 500px;
    height: 200px;
    z-index: 102;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    box-sizing: border-box;
}

/* .popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 20px;
    font-weight: 550;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
} */

.popup-text{
    font-size: 20px;
    font-weight: 560;
    color: #222;
}

.red-text{
    color: red;
}

.popup.active .overlay{
    display: block;
    backdrop-filter: blur(5px);
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.btn-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}   

.no-btn, .yes-btn, .yes-btn-red{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    margin: 20px 10px 0;
    border-radius: 5px;
    font-weight: 560;
    font-size: 18px;
    width: 80px;
    text-align: center;
}

.no-btn{
    background: #d9d9d9;
    color: #222;
}
.yes-btn{
    background: #52ca20;
}

.yes-btn-red{
    background: #ff0000;
}

.yes-btn:hover{
    background: #3e9e17;
}

.yes-btn-red:hover{
    background: #ff3333;
}

.no-btn:hover{
    background: #b3b3b3;
}

.close-btn {
    position: absolute;
    top: 10px; /* Space from the top */
    right: 10px; /* Space from the right edge */
    background: none;
    border: none;
    font-size: 1.5em; 
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #f44336; /* Change color to red on hover */
}