/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Wrapper for the layout */
.page-wrapper {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 40px; /* Space between sidebar and main content */
    min-height: 100vh;
    background-color: #f5f5f5;
}

/* Sidebar styling */
.sidebr {
    width: 220px;
    height:400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.sidebr ul {
    list-style: none;
    width: 100%;
}

.sidebr ul li {
    margin: 15px 0;
    text-align: center;
}

.sidebr ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.sidebr ul li a:hover {
    text-decoration: underline;
}

/* Main content styling */
.container {
    flex: 1;
    max-width: 700px;
    background-color: #f2f2f2;
    padding: 20px;
    height:400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.warning {
    background-color: #ffeded;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #ff5e5e;
    font-weight: bold;
    border: 1px solid #ffb3b3;
    font-size: 14px;
    margin-top: 20px;;
}

.warning p {
    font-size: 14px;
    color:rgb(224, 122, 71);
    line-height: 1.5;
    margin: 0;
}

label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 20px;
}

label input[type="checkbox"] {
    width: 20px;
    margin-right: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.delete-btn {
    margin-top:30px;
    background-color: #ff5e5e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #ff3b3b;
}

.cancel-btn {
    background-color: #333;
    color: #fff;
    margin-top: 30px;;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}

.cancel-btn:hover {
    background-color: #555;
}
