* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar-container {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-top: 0px;
    margin-bottom: 80px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 30px;
    width: 60%;
    height: 60px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.search-icon i {
    font-size: 24px;
    color: #555;
    margin-right: 10px;
    cursor: pointer;
}

.search-input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.filters-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #555;
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer;
}

.filters-button i {
    margin-right: 5px;
}

.search-button {
    background-color: #299b63;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #137d4a;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    max-height: 500px;
    padding: 5px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    max-height: 600px; /* Set the desired max height */
}



.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card-logo img {
    width: 120px;
    height: 100px;
    margin-bottom: 10px;
}

.job-title {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.job-location, .job-salary, .job-days-left {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
}

.job-rating {
    font-size: 1.2em;
    color: #333;
    position: absolute;
    top: 150px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.job-rating i {
    color: #fbc02d;
}

.job-location-details {
    font-size: 0.9em;
    margin-top: 10px;
    color: #999;
}

.card-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.card-icons i {
    font-size: 18px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

.card-icons i:hover {
    color: #333;
    transform: scale(1.5); 
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; 
}

.social-media-icons {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust the centering */
    display: flex;
    gap: 15px;
}

.social-media-icons a i {
    font-size: 18px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

.social-media-icons a i:hover {
    color: #333;
    transform: scale(1.5); 
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; 
}

.view-button {
    background-color: #299b63;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.view-button:hover {
    background-color: #137d4a;
}